<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>가게 상세 정보 페이지</title>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.0.2/dist/minty/bootstrap.min.css">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"/>
    <style>
        .inner-star::before{color: #FF9600;}
        .outer-star {position: relative;display: inline-block;color: #CCCCCC;}
        #average-inner::before, #average-outer {font-size: xx-large;}
        .inner-star {position: absolute;left: 0;top: 0;width: 0%;overflow: hidden;white-space: nowrap;}
        .outer-star::before, .inner-star::before {content: '\f005 \f005 \f005 \f005 \f005';font-family: 'Font Awesome 5 free';font-weight: 900;}
        .numberRating {font-family: 'Font Awesome 5 free'; font-weight: 900; color: #CCCCCC;}
    </style>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'main' %}">Flower Recommendation</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
      
          <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav me-auto">
                      <li class="nav-item">
                        <a class="nav-link active" href="{% url 'main' %}">Home
                          <span class="visually-hidden">(current)</span>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'notice' %}">Notice</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'recom' %}">Recommendation</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Login</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'join' %}">Sign Up</a>
                      </li>
                    </ul>
                    <form class="d-flex">
                      <input class="form-control me-sm-2" type="text" placeholder="Search">
                      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                    </form>
                  </div>
                </div>
              </nav>
</head>
<body>
    {% load static %}
        <ul class="nav nav-tabs nav-pills nav-fill justify-content-center" id="myTab" role="tablist" style="margin-top: 10px; margin-inline: 20px;">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="detail-tab" data-bs-toggle="tab" data-bs-target="#detail" type="button" role="tab" aria-controls="detail" aria-selected="true">상세정보</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="review-tab" data-bs-toggle="tab" data-bs-target="#review" type="button" role="tab" aria-controls="review" aria-selected="false">리뷰 12</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="qna-tab" data-bs-toggle="tab" data-bs-target="#qna" type="button" role="tab" aria-controls="qna" aria-selected="false">Q&A 3</button>
          </li>
        </ul>
        <div>
            <div class='RatingStar' style="text-align: center;">
                <div class='RatingScore' style="display: flex; flex-direction: column; align-items: center;">
                    <div class='outer-star' id="average-outer">
                      <div class='inner-star' id="average-inner"></div>
                    </div>
                    <div class="numberRating"></div>
                </div>
            </div>
        </div>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="detail" role="tabpanel" aria-labelledby="detail-tab" style="text-align: center;">
          
          <span id="flower-shop-name" style="margin-bottom: 50px;">꽃집아가씨</span> <br>
            <div id="flower-shop-info" style="display: flex; flex-direction: row; justify-content: center;">
                <span id="flower-shop-img" style="margin: 100px; width: 600px;">
                    <img src="{% static 'flower_shop.png' %}" alt="꽃집 이미지" >
                </span>
                <div id="map" style="width:30%; height:500px; float:right;margin: 100px;"></div>
            </div>
        </div>
        <div class="tab-pane fade" id="review" role="tabpanel" aria-labelledby="review-tab">
          <div style="display: flex; flex-direction: row;">
            <div class="review-box" style="border-radius: 5px; border: 1px black solid; margin: 50px; width: 250px;">
                <div class="user-info" style="display: flex;">
                    <img class="profile-img" src="{% static 'profile.PNG'%}" alt="프로필 이미지" width="100" height="100"/>
                    <span class="review-user">mosang1230</span>
                </div>
                <div class='RatingStar'>
                    <div class='ReviewScore'>
                        <div class='outer-star'>
                          <div class='inner-star'></div>
                          <div class="numberRating"></div>
                        </div>
                    </div>
                </div> 
                <div class="review-contents-box">
                    <span class="review-date">Date: 2021/07/01</span>
                    <span class="purchase-item">꽃 이름</span> <br>
                    <span class="review">최고에요</span>
                </div>
              </div>
              <div class="review-box" style="border-radius: 5px; border: 1px black solid; margin: 50px; width: 250px;">
                <div class="user-info" style="display: flex;">
                    <img class="profile-img" src="{% static 'profile.PNG'%}" alt="프로필 이미지" width="100" height="100"/>
                    <span class="review-user">mosang1230</span>
                </div>
                <div class='RatingStar'>
                    <div class='ReviewScore'>
                        <div class='outer-star'>
                          <div class='inner-star'></div>
                          <div class="numberRating"></div>
                        </div>
                    </div>
                </div> 
                <div class="review-contents-box">
                    <span class="review-date">Date: 2021/07/01</span>
                    <span class="purchase-item">꽃 이름</span> <br>
                    <span class="review">최고에요</span>
                </div>
              </div>
              <div class="review-box" style="border-radius: 5px; border: 1px black solid; margin: 50px; width: 250px;">
                <div class="user-info" style="display: flex;">
                    <img class="profile-img" src="{% static 'profile.PNG'%}" alt="프로필 이미지" width="100" height="100"/>
                    <span class="review-user">mosang1230</span>
                </div>
                <div class='RatingStar'>
                    <div class='ReviewScore'>
                        <div class='outer-star'>
                          <div class='inner-star'></div>
                          <div class="numberRating"></div>
                        </div>
                    </div>
                </div> 
                <div class="review-contents-box">
                    <span class="review-date">Date: 2021/07/01</span>
                    <span class="purchase-item">꽃 이름</span> <br>
                    <span class="review">최고에요</span>
                </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="qna" role="tabpanel" aria-labelledby="qna-tab">
            <div>
                <div class="qna-box" style="border-radius: 5px; border: 1px black solid; margin-inline: 100px; margin-top: 20px;">
                    <div class="user-info" style="display: flex;">
                        <img class="profile-img" src="{% static 'profile.PNG'%}" alt="프로필 이미지" width="100" height="100"/>
                        <span class="review-user">mosang1230</span>
                    </div>
                    <div class="qna-contents-box">
                        <span class="qna-date">Date: 2021/07/01</span> 
                        <h5><span class="question"><strong> Question: 위치가 정확히 어디인가요?</strong></span></h5>
                    </div>
                </div>
                <div class="qna-box" style="border-radius: 5px; border: 1px black solid; margin-inline: 100px; margin-top: 20px;">
                  <div class="user-info" style="display: flex;">
                      <img class="profile-img" src="{% static 'profile.PNG'%}" alt="프로필 이미지" width="100" height="100"/>
                      <span class="review-user">mosang1230</span>
                  </div>
                  <div class="qna-contents-box">
                      <span class="qna-date">Date: 2021/07/01</span> 
                      <h5><span class="question"><strong> Question: 위치가 정확히 어디인가요?</strong></span></h5>
                  </div>
              </div>
              <div class="qna-box" style="border-radius: 5px; border: 1px black solid; margin-inline: 100px; margin-top: 20px;">
                <div class="user-info" style="display: flex;">
                    <img class="profile-img" src="{% static 'profile.PNG'%}" alt="프로필 이미지" width="100" height="100"/>
                    <span class="review-user">mosang1230</span>
                </div>
                <div class="qna-contents-box">
                    <span class="qna-date">Date: 2021/07/01</span> 
                    <h5><span class="question"><strong> Question: 위치가 정확히 어디인가요?</strong></span></h5>
                </div>
            </div>
            </div>
        </div>
      </div>
      <script>
        ratings = {RatingScore: 3.5, ReviewScore: 3.0}; 
        totalRating = 5;
        // table = document.querySelector('.RatingStar');
        function rateIt() {
            for (rating in ratings) {
                console.log(rating)
                // 별 평점 백분위 나타내기 
                ratingPercentage = ratings[rating] / totalRating * 100;
                // 십의 자리까지 반올림 
                ratingRounded = Math.round(ratingPercentage / 10) * 10 + '%';
                // RatingScore 클래스에서 inner-star 클래스 획득
                star = document.querySelector(`.${rating} .inner-star`);
                // RatingScore 클래스에서 numberRating 클래스 획득
                numberRating = document.querySelector(`.${rating} .numberRating`);
                // inner-star 평점만큼 width 주기
                star.style.width = ratingRounded;
                // numberRating
                numberRating.innerText = `${ratings[rating]} / 5 점`;
            }
        }
        rateIt();
      </script>
      <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=dcf58464a972fefa107b2cdd6a1440c6&libraries=services"></script>
      <script>
        var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
            mapOption = { 
                center: new kakao.maps.LatLng(37.5978379,126.9457346), // 지도의 중심좌표
                level: 3 // 지도의 확대 레벨
            };
        
        var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다
        
        // 마커가 표시될 위치입니다 
        var markerPosition  = new kakao.maps.LatLng(37.5978379,126.9457346); 
        
        // 마커를 생성합니다
        var marker = new kakao.maps.Marker({
            position: markerPosition
        });
        
        // 마커가 지도 위에 표시되도록 설정합니다
        marker.setMap(map);
        
        // 아래 코드는 지도 위의 마커를 제거하는 코드입니다
        // marker.setMap(null);    
        </script>
</body>
</html>