<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.0.2/dist/minty/bootstrap.min.css">   
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Flower Recommendation</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarColor01">
                  <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                      <a class="nav-link active" href="#">Home
                        <span class="visually-hidden">(current)</span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'notice' %}">Notice</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'recom' %}">Recommendation</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'login' %}">Login</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'join' %}">Sign Up</a>
                    </li>
                  </ul>
                  <form class="d-flex">
                    <input class="form-control me-sm-2" type="text" placeholder="Search">
                    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                  </form>
                </div>
              </div>
            </nav>
</head>
<body>
<br><br><br>
<div id="pic" style="width:50%;height:400px;float:left;margin-left:50px;">
<img src="https://i.pinimg.com/564x/0c/a0/c9/0ca0c94d8efb052a681da21612eeda0c.jpg"></div>

<div id="map" style="width:45%;height:400px;float:right;margin-right:20px;"></div>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=dcf58464a972fefa107b2cdd6a1440c6&libraries=services"></script>
<script>
var infowindow = new kakao.maps.InfoWindow({zIndex:1});

var mapContainer = document.getElementById('map'), 
    mapOption = {
        center: new kakao.maps.LatLng(37.566826, 126.9786567), 
        level: 3 
    };  

var map = new kakao.maps.Map(mapContainer, mapOption); 

var ps = new kakao.maps.services.Places(); 

ps.keywordSearch('flower', placesSearchCB); 

function placesSearchCB (data, status, pagination) {
    if (status === kakao.maps.services.Status.OK) {


        var bounds = new kakao.maps.LatLngBounds();

        for (var i=0; i<data.length; i++) {
            displayMarker(data[i]);    
            bounds.extend(new kakao.maps.LatLng(data[i].y, data[i].x));
        }       

        map.setBounds(bounds);
    } 
}

function displayMarker(place) {
    
    var marker = new kakao.maps.Marker({
        map: map,
        position: new kakao.maps.LatLng(place.y, place.x) 
    });

    kakao.maps.event.addListener(marker, 'click', function() {
        infowindow.setContent('<div style="padding:5px;font-size:12px;">' + place.place_name + '</div>');
        infowindow.open(map, marker);
    });
}
</script>


<div id="info" style="text-align:center;">

    <h1>Pink Tulip</h1>
    <h3><a href="{% url 'review' %}">affection and consideration</a> </h3></div>

<br><br>
<div id="pic2" style="width:18%;height:200px;float:left;margin-left:50px;margin-bottom:20px;">
    <img src="https://i.pinimg.com/236x/f5/19/8d/f5198dca8dc9afbbf9b70adb02372aee.jpg"></div>
<div id="pic3" style="width:18%;height:200px;float:left;margin-left:5px;margin-bottom:20px;">
    <img src="https://i.pinimg.com/236x/14/df/d8/14dfd869e5fc5b2a6742d191a9790c3d.jpg"></div>   
<div id="pic4" style="width:18%;height:200px;float:left;margin-left:5px;margin-bottom: 20px;">
    <img src="https://i.pinimg.com/236x/a0/2c/79/a02c794f1f852bd66a9b833564c94669.jpg"></div>
<div id="pic5" style="width:18%;height:200px;float:left;margin-left:5px;margin-bottom: 20px;">
    <img src="https://i.pinimg.com/236x/39/5a/cb/395acb3cd86c088f22da34e459566564.jpg"></div>
<div id="pic6" style="width:18%;height:200px;float:left;margin-left:5px;margin-bottom: 20px;">
    <img src="https://i.pinimg.com/236x/9b/c1/d5/9bc1d5d244ca01b2f8c1f9c31e5275da.jpg"></div>
<br><br>
</body>
</html>