<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="join.css">

</head>

<body>


    <div id=total>
        <br>
        <br>
        <br>
        <br>
        <br>


        <h1>회원가입</h1>
     
            <br>
            <br>
                    <form action="">
                            <div>
                                    <div class="loginId" >
                                        <h2 style="display:inline">아이디</h2>

                                            <div>
                                                <input type="email" name="id" id="id" placeholder="아이디를 입력하세요" style="width: 200px;height: 30px;">
                                      
                                            </div>
                                            <h4>사용중인 아이디 입니다</h4>
                                        <br>

                                            
                                                <h2 style="display:inline">닉네임</h2>
                                                <input type="email" name="id" id="id" placeholder="닉네임을 입력하세요" style="width: 200px;height: 30px;">
                                                <h4>사용중인 닉네임 입니다</h4>

                                        <br>       
                                                <input type="submit" value="중복체크">

                                    </div>
                            </div>
                    </form>

            <br>

                    <form action="">
                                <div class="password">
                                    <h2 style="display:inline">비밀번호&nbsp</h2>
                                    <input type="password" name="passwd" id="passwd" placeholder="비밀번호를 입력하세요"style="width: 200px;height: 30px;">
                                
                                    <br>
                                
                                    
                                
                                    <input type="email" name="id" id="id" placeholder="비밀번호를 다시 입력하세요" style="width: 200px;height: 30px;">
                                    <h4>비밀번호가 일치하지 않습니다</h4>

                                    <br>
                                                                        
                                    <input type="submit" value="회원가입">


                        
                    
                                </div>
                        </form>

</div>

</body>

</html>