<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<style>
    #total {
  text-align: center;
}

</style>
</head>
<body>
    

<div id=total>
        <br>
        <br>
        <br>
        <br>
        <br>
        

    <h1>로그인</h1>
    <div class="loginid">
                <br>
                <br>
                <br>

    <h2 style="display:inline">아이디&nbsp&nbsp&nbsp&nbsp</h2>
    <input type="email" name="id" id="id" placeholder="아이디를 입력하세요" style="width: 200px;height: 30px;">
    </div>
    <br>
    <br>

    <div class="password">
    <h2 style="display:inline">비밀번호&nbsp</h2>
    <input type="password" name="passwd" id="passwd" placeholder="비밀번호를 입력하세요"style="width: 200px;height: 30px;">
        <br>
    <br>
<br>
    <div class="remember">
    <input type="checkbox" name="" id=""> 아이디 저장
    </div>
                <br>                         
                <form action="http://127.0.0.1:8000/"><input type="submit" value="로그인"></form>   

</div>

</div>
</body>
</html>