<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<style>
    #total {
        display: flex;

  text-align: center;
  justify-content: center;
}
.loginForm{
  background-color: aqua;
}
</style>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.0.2/dist/minty/bootstrap.min.css">   
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'main' %}">Flower Recommendation</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
              <ul class="navbar-nav me-auto">
                <li class="nav-item">
                  <a class="nav-link active" href="{% url 'main' %}">Home
                    <span class="visually-hidden">(current)</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'notice' %}">Notice</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'recom' %}">Recommendation</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'login' %}">Login</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'join' %}">Sign Up</a>
                </li>
              </ul>
              <form class="d-flex">
                <input class="form-control me-sm-2" type="text" placeholder="Search">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
              </form>
            </div>
          </div>
        </nav>
</head>
<body>
    

<div id=total>
        <br>
        <br>
        <br>
        <br>
        <br>
        

    <div class="loginid">
          <h1 >Login</h1>

                <br>
                <br>




<form action="{%url 'login'%}" method="post">
  {%csrf_token%}
  <div class="form-group">
    <label for="subject" style="display:inline">ID&nbsp&nbsp&nbsp&nbsp&nbsp</label>
    <input type="text" class="form-control" name="username" id="username"
      value="{{ form.username.value|default_if_none:'' }}"style="width: 230px;height: 30px; padding-left:60px;">
  </div>
  <div class="form-group">
    <label for="content"style="display:inline">PW&nbsp&nbsp</label>
    <input type="password" class="form-control" name="password" id="password" rows="10"style="width: 230px;height: 30px;" value="{{ form.password.value|default_if_none:'' }}">
  </div>
  <div class="remember">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
    <label class="form-check-label" for="flexCheckDefault">
      아이디 저장
    </label>
  
  </div>
  <button type='submit'>로그인</button>
</form>




</div>

</div>


</body>
</html>